    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->


<style>

#container {
	width: 50%;
	min-height: 200px;
	background-color: gray;
	border-radius: 20px;

	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
}

.mainBtn {
	margin-top: 50px;
}
</style>

<div id="container">
	<div class="col-md-6 center-block">
    	<button id="JoinGame" name="JoinGame" class="btn btn-primary btn-lg center-block mainBtn">
        	Join New Game
    	</button>
	</div>
	<div class="col-md-6 center-block">
    	<button id="CurrentGames" name="CurrentGames" class="btn btn-primary btn-lg center-block mainBtn">
        	Current Games
    	</button>
	</div>

	<!-- If "JoinGame" selected, hide current games using class='hidden' && Vice-Versa -->



</div>



    <script type="text/javascript">

    $(document).ready(function(){

        $("#JoinGame").click(function(){
     		alert("you have clicked Join Game");
        });

    });

    </script>



