<div class = "container">
	<div class = "jumbotron">
		Fake Game Lobby
	</div>
</div>

<script>

function displaySocketId() {
		io.socket.on('/fakeGameLobby', function(resData){
		resData;
});
</script>
<%- block('localScripts', '<script src="/extraJS/fakeGameLobby.js"></script>') %>

<button onclick="displaySocketId()">What's my socket ID?</button>



<p id="demo"></p>
