<div class = "container">
	<div class = "jumbotron">
		<h1>Home Page</h1>

		<h2>Sign-in or Register to Continue</h2>
		<a href ="/user/new" class="btn btn-lg btn-success">Sign up now!</a>
	</div>
</div>
